{% extends 'base.html.twig' %}

{% block title %}API{% endblock %}

{% block body %}
    <div class="col-6 offset-3">
        <h1>API</h1>
        <h5>Your API key: <b>{{ app.user.token }}</b></h5>
    </div>
{% endblock %}