<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}">Me-Tools Demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user is not null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_article_index') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_api_index') }}">API</a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user is not null %}
                <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                <a class="nav-link" href="{{ path('app_register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>