{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="col-6 offset-3">
        <h1>{{ article.title }} by {{ article.createdBy.email }}</h1>
        <p>{{ article.articleText }}</p>
    </div>
{% endblock %}