{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="col-6 offset-3">
        <h1 class="text-center">Articles</h1>
        <div class="list-group mb-3">
            {% for article in articles %}
            <a class="list-group-item list-group-item-action" href="{{ path('article', {'article': article.id}) }}">
                {{ article.title }}
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}