{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Edit{% endblock %}

{% block body %}
    <div class="col-6 offset-3">
        <h1>{{ article.title }} - Edit</h1>
        {{ include('admin/article/_form.html.twig') }}
    </div>
{% endblock %}