{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="col-6 offset-3">
        <h1>Articles:</h1>
        <a class="btn btn-primary w-100" href="{{ path('admin_article_new') }}">New Article</a>
        <div class="list-group">
            {% for article in articles %}
                <a class="list-group-item list-group-item-action"
                   href="{{ path('admin_article_edit', {'article': article.id}) }}">{{ article.title }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}