{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="col-6 offset-3">
        {{ include('admin/article/_form.html.twig') }}
    </div>
{% endblock %}